.channel_block {
    background: var(--accent-color);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.channel_block:hover {
    filter: brightness(110%);
}
.channel_block:active {
    filter: brightness(90%);
}

.friend_block {
    font-size: 1.25rem;
    margin-left: 2rem;
}