:root{
    --channel-input-height: 70px;
}

.main_window {
    position: fixed;

    left: calc(50% - var(--main_part-width) / 2);
    right: calc(50% - var(--main_part-width) / 2);
}

.messages_window {
    top: calc(var(--header-height) + var(--channel-windows-delta));
    height: calc(100% - var(--header-height) - 2 * var(--channel-windows-delta) - var(--channel-input-height));
    overflow: auto;
}

.input_window {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    bottom: 0;
    height: var(--channel-input-height);
}

.message {
    background: var(--lighten-accent-color);

    padding: 1rem;
    margin: 0.25rem;
}
.message:not(:last-child) {
    margin-bottom: 0.5rem;
}

.message .content {
    display: grid;
    grid-template-columns: auto 1fr;
}

.message .content .avatar {
    width: 32px;
    height: 32px;
    border-radius: 20%;
    background-size: cover;
    cursor: pointer;
}

.message_text {
    margin-left: 0.25rem;
    word-break: break-word;
}