form.base_form {
    width: 50%;
    padding: 1rem;
    border: 0.1rem solid var(--accent-color);
    border-radius: 1rem;
}

form.centered_form {
    margin-left: auto;
    margin-right: auto;
}

form.centered_content {
    text-align: center;
}

textarea,
input[type=text].base_input,
input[type=password].base_input,
input[type=submit].base_input {
    padding: 0.5rem;
    background: var(--accent-color);
    border-radius: 0.25rem;
    border: none;
    outline: none;
    color: black;
    margin: 0.25rem;
}

textarea.base_textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    resize: none;
}

input.base_text_input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

input.base_submit_input {
    display: inline-block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
input.base_submit_input:hover {
    background: var(--lighten-accent-color);
}
input.base_submit_input:active {
    background: var(--darken-accent-color);
}

input.base_checkbox_input {
    appearance: none;
    width: 0.75em;
    height: 0.75em;
    cursor: pointer;

    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background: transparent;

    margin: 0;
}
input.base_checkbox_input:checked {
    background: var(--accent-color);
}