<html>
    <head>
        <title>
            Index
        </title>
    </head>
        <link rel="stylesheet" href="{{ url_for('pages.static', filename='index.css') }}">
        <script src="{{ url_for('pages.static', filename='send_image.js') }}"></script>
    <body>
        <form>
            <input type="file" name="file" class="base_file_choose"><br><br>
            <div class="base_button" onclick="send_image(this)">Submit</div>
        </form>
        <div id="response-text"></div>
    </body>
</html>