{% extends 'main_base.html' %}

{% block top_scripts %}
    <script type="text/javascript" src="{{ url_for('main.static', filename='personal-profile.js') }}"></script>
{% endblock %}

{% block top_stylesheets %}{% endblock %}

{% block title %}
    {{ client_user.full_name }} friends
{% endblock %}

{% block main_content %}
    <div class="main_part">
        <h1>Friends:</h1>
        {% for friend in client_user.friends %}
            <div>
                <a href="{{ friend.profile_url }}" class="link">
                    {{ friend.full_name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}