{% extends 'base.html' %}

{% block content %}
    {% block main_content %}{% endblock %}

    <div class="nav_part">
        <a href="{{ url_for('main.client_profile') }}" class="block_link">
            <div class="nav_part_button first">Profile</div>
        </a>
        <a href="{{ url_for('main.friends') }}" class="block_link">
            <div class="nav_part_button">Friends</div>
        </a>
        <a href="{{ url_for('main.search_page') }}" class="block_link">
            <div class="nav_part_button">Search user</div>
        </a>
        <a href="{{ url_for('main.channels') }}" class="block_link">
            <div class="nav_part_button last">Channels</div>
        </a>
    </div>
{% endblock %}