{% extends 'base.html' %}

{% block top_scripts %}
    <script type="text/javascript" src="{{ url_for('main.static', filename='personal-profile.js') }}"></script>
{% endblock %}

{% block title %}
    Profile {{ user.nickname }}
{% endblock %}

{% block content %}
    <div class="main_part">
        <div class="profile">
            <label for="profile_first_name">First name:</label>
            <input type="text"
                   id="profile_first_name"
                   name="first_name"
                   class="base_input base_text_input"
                   value="{{ user.first_name }}" required>
            <label for="profile_last_name">Last name:</label>
            <input type="text"
                   id="profile_last_name"
                   name="last_name"
                   class="base_input base_text_input"
                   value="{{ user.last_name }}" required>
            <input type="submit" value="Send changes" class="base_input base_submit_input" onclick="update_profile(this)">
        </div>
    </div>
{% endblock %}