{% extends 'base.html' %}

<!-- Parameters:
* client_user
* user
-->

{% block top_scripts %}
    <script type="text/javascript" src="{{ url_for('main.static', filename='profile.js') }}"></script>
{% endblock %}

{% block title %}
    Profile {{ user.username }}
{% endblock %}

{% block content %}
    <div class="main_part">
        <h1>Profile:</h1>
        <div class="paragraph">First name: {{ user.first_name }}</div>
        <div class="paragraph">Last name: {{ user.last_name }}</div>
        <div class="paragraph">Description: {{ user.description }}</div>
    </div>
{% endblock %}