{% extends 'base.html' %}

{% block title %}
    Search
{% endblock %}

{% block top_stylesheets %}
    <style>
        .user_block {
            display: inline-block;
            width: 30em;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="main_part">
        <form action="/search" method="post" class="centered_form centered_content">
            <input type="text" name="query" placeholder="Search somebody" class="base_input">
            <input type="submit" value="Search" class="base_input base_submit_input">
        </form>
        <h2>Recommendations:</h2>
        {% if recommendations|length %}
            {% for user in recommendations %}
                <div class="paragraph">
                    <a href="{{ url_for('main.profile', username=user.username) }}" class="link">
                        <div class="user_block">
                            {{ user.first_name }}
                            {{ user.last_name }}
                            <i>{{ user.description }}</i>
                        </div>
                    </a>
                </div>

            {% endfor %}
        {% else %}
            <div class="paragraph">No recommendations</div>
        {% endif %}
    </div>
{% endblock %}