{% extends 'base.html' %}

<!-- Parameters:
channel: Channel
-->

{% block title %}
    Channel
{% endblock %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('messanger.static', filename='channel.css') }}">
{% endblock %}

{% block top_scripts %}
    <script>
        const CHANNEL_ID = {{ channel.id }};
    </script>
    <script type="text/javascript" src="{{ url_for('messanger.static', filename='channel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('messanger.static', filename='channel_sockets.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="channel_window">
        <div class="messages_window" id="messages_window"></div>
        <div class="input_window">
            <textarea id="message_textarea" maxlength="2000"
                      class="base_input base_textarea accent-scrollbar" required></textarea>
            <input type="submit" class="base_input base_submit_input" value="Send message" onclick="sendMessage()">
        </div>
    </div>
{% endblock %}
