{% extends 'channel_base.html' %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('messanger.static', filename='channel_members.css') }}">
{% endblock %}

{% block title %}
    Channels: {{ page }} / {{ number_of_pages }}
{% endblock %}

{% block channel_content %}
    <div class="main_part">
        {% if channel.members|length %}
            <h2>Members:</h2>
            {% for member in channel.members %}
                <div>
                    <a href="{{ member.profile_url() }}" class="link">
                        {{ member.full_name() }}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <h4>Strange... This channel have no members...</h4>
        {% endif %}
    </div>
{% endblock %}