{% extends 'base.html' %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('messanger.static', filename='channel_navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('messanger.static', filename='channel_members.css') }}">
{% endblock %}

{% block title %}
    Channels: {{ page }} / {{ number_of_pages }}
{% endblock %}

{% block content %}
    <div class="main_part">
        {% if channel.members|length %}
            <h2>Members:</h2>
            {% for member in channel.members %}
                <div>
                    <a href="{{ member.profile_url() }}" class="link">
                        {{ member.full_name() }}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <h4>Strange... This channel have no members...</h4>
        {% endif %}
    </div>

    <div class="nav_part">
        <a href="{{ url_for('messanger.channels') }}" class="block_link">
            <div class="nav_part_button first">Channels</div>
        </a>
        <a href="{{ url_for('messanger.channel', channel_id=channel.id) }}" class="block_link">
            <div class="nav_part_button">Channel</div>
        </a>
        <a href="{{ url_for('messanger.channel_members', channel_id=channel.id) }}" class="block_link">
            <div class="nav_part_button last">Members</div>
        </a>
    </div>
{% endblock %}