{% extends 'channel_base.html' %}

<!-- Parameters:
channel: Channel
-->

{% block title %}
    Channel
{% endblock %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('messanger.static', filename='channel.css') }}">
{% endblock %}

{% block top_scripts %}
    <script>
        const CHANNEL_ID = {{ channel.id }};
    </script>
    <script type="text/javascript" src="{{ url_for('messanger.static', filename='channel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('messanger.static', filename='channel_sockets.js') }}"></script>
{% endblock %}

{% block channel_content %}
    <div class="messages_window main_window accent-scrollbar" id="messages_window">
    </div>
    <div class="input_window main_window">
        <textarea id="message_textarea" maxlength="2000"
                  class="base_input base_textarea accent-scrollbar" required></textarea>
        <input type="submit" class="base_input base_submit_input" value="Send message" onclick="sendMessage()">
    </div>

    <div class="nav_part">
        <a href="{{ url_for('main.channels') }}" class="block_link">
            <div class="nav_part_button first">Channels</div>
        </a>
        <a href="{{ url_for('messanger.channel', channel_id=channel.id) }}" class="block_link">
            <div class="nav_part_button">Channel</div>
        </a>
        <a href="{{ url_for('messanger.channel_members', channel_id=channel.id) }}" class="block_link">
            <div class="nav_part_button last">Members</div>
        </a>
    </div>
{% endblock %}
