{% extends 'base.html' %}

{% block title %}
    Log in
{% endblock %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='auth.css') }}">
{% endblock %}

{% block top_scripts %}
    <script type="text/javascript" src="{{ url_for('auth.static', filename='login.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="auth-form">
        <form class="base_form centered_form centered_content">
            <input type="text" name="username" placeholder="Username" class="base_input base_text_input" /> 
            <input type="password" name="password" placeholder="Password" class="base_input base_text_input" /> 
            <div class="base_input base_submit_input" onclick="login(this)">Submit</div>

            <div>
                <a href="{{ url_for('auth.signup_page') }}" class="link">Make a new account</a>
            </div>
        </form>
    </div>
{% endblock %}