{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='auth.css') }}">
{% endblock %}

{% block content %}
    <div class="auth-form">
        <form method="post">
            <input type="text" name="first_name" placeholder="First name" /> <br>
            <input type="text" name="last_name" placeholder="Last name" /> <br>
            <input type="text" name="username" placeholder="Username" /> <br>
            <input type="password" name="password" placeholder="Password"/> <br>
            <input type="submit" value="Submit"> <br>
        </form>
        <a href="{{ url_for('auth.login_get') }}" class="link">Or you already have an account</a>
    </div>

    {% if error == None %}
    {% else %}
        <div class="error_message">{{ error }}</div>
    {% endif %}

{% endblock %}