{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block top_stylesheets %}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='auth.css') }}">
{% endblock %}

{% block content %}
    <div class="auth-form">
        <form method="post" class="base_form centered_form centered_content">
            <input type="text" name="first_name" placeholder="First name" class="base_input base_text_input" /> 
            <input type="text" name="last_name" placeholder="Last name" class="base_input base_text_input" /> 
            <input type="text" name="username" placeholder="Username" class="base_input base_text_input" /> 
            <input type="password" name="password" placeholder="Password" class="base_input base_text_input" /> 
            <input type="submit" value="Submit" class="base_input base_submit_input" />
            <div>
                <a href="{{ url_for('auth.login_get') }}" class="link">Or you already have an account</a>
            </div>
        </form>
    </div>

    {% if error == None %}
    {% else %}
        <div class="error_message">{{ error }}</div>
    {% endif %}

{% endblock %}