.profile {
    text-align: center;
}

.form-label {
    text-align: left;
}

.invitation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.invitation:not(:last-child) {
    margin-bottom: 1rem;
}

.channel_title {
    padding: 0.5rem;
    background: var(--accent-color);
    border-radius: 0.25rem;
    color: black;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    width: 100%;
    text-align: left;
}

.top_form_part {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 128px;
    margin-bottom: 0.5rem;
}

.top_form_part > .avatar_part {
    height: inherit;
    margin-right: 0.5rem;
}

.top_form_part > .info_part {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.profile_avatar {
    height: 100%;
    border-bottom-right-radius: 1rem;
}
